html, body {

  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /*płynniejsze przejście*/
  position: relative;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box; /*padding i border zawierają się w wysokości i szerokości*/
 
}




nav a {

	text-decoration: none;
	position: relative;
	opacity: 1;
}

nav a::before {
	content: '';
	display: block;
	height: 2.5px;
	background: #A6461C;
	position: absolute;
	bottom: -1em; /*odleglosc kreski od napisu*/
	border-radius: 0.1;
	left: 0;
	right: 0;
	transform: scale(0, 1);
	transition: transform ease-in-out 250ms;
}


nav a:hover{
color: #A6461C;
}


nav a:hover::before{
	color: #A6461C;
	transform: scale(1,1);
}

body
{
	margin: 0;
	padding: 0;
    background-color:#1b1b1b;
    font-family: 'Lato', sans-serif;
	color: #f3f4f4; /*niebieski jasny* #b0b5b8; szary*/
	overflow-x: hidden; /*nie można przesuwać w poziomie*/
	font-size: 17px;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	
}


.l-header {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: relative;
  z-index: 100;
}



.c-imgbackground {
  width: 100%;
  height: 400px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;

}

.c-imgbackground--main {
  background-image: url("../img/background3.jpg");
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.english{
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	top:40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 300;
	font-size:100px;
	color: #ab8020; /*różowy*/
	font-family: 'Herr Von Muellerhoff', sans-serif;
	z-index: 999;
}

.pagetitle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: solid 3px;
	padding: 40px;
	font-size: 1.6em;
	font-family: 'Bowlby One SC', sans-serif;
	letter-spacing: 1.5em;
	text-align: center;
}
@media (max-width: 767px) {
.pagetitle{
	padding: 30px;
	font-size: 1.2em;
	font-family: 'Bowlby One SC', sans-serif;
	text-align: center;
	text-align: center;
}

.button{
	padding: 100px 0;
}

.ucz{
	padding: 10px;
}


.english{
	font-size: 60px;
}
}

.ucz{
	font-size: 18px;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	border: solid 2px #A6461C;
	padding: 10px 50px;
	text-transform: uppercase;
	font-weight: 700;
	color: #A6461C;
	font-family: consolas;

}	

.ucz a{
	color: #A6461C;
	transition: .2s;
}
.ucz:hover{
    box-shadow: 0 0 10px 4px #A6461C;
	background-color: rgb(190,40,73, .2);
	}

/*---------------button quotes----------------*/
@media (min-width: 768px){
	.button{
	padding: 150px 0;
}
}

.button{
	margin: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	text-align:center;
	align-items: center;
	font-family: consolas;

}

.button a{
	position: relative;
	font-size: 1.5em;
	display: inline-block;
	padding: 15px 30px;
	color: #A6461C;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: none;
	overflow: hidden;
	transition: .2s;
	
}


@media (max-width: 767px) {
.button a{
	padding: 8px 15px;
}
}

.button a:hover{
	color: rgba(255,250,250, .5);
	background: #A6461C;
	box-shadow: 0 0 10px #A6461C, 0 0 40px #A6461C, 0 0 80px #A6461C;
	transition-delay: 1s;
}


.button a span{
	position: absolute;
	display: block;
}

.button a span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#A6461C);
}

.button a:hover span:nth-child(1){
	left: 100%;
	transition: 1s;
}

.button a span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #A6461C);
}

.button a:hover span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: .5s;
}

.button a span:nth-child(2){
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#A6461C);
}

.button a:hover span:nth-child(2){
	top: 100%;
	transition: 1s;
	transition-delay: .25s;
}


.button a span:nth-child(4){
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#A6461C);
}

.button a:hover span:nth-child(4){
	bottom: 100%;
	transition: 1s;
	transition-delay: .75s;
}






@media (max-width: 767px) {
  .c-imgbackground {
    background-attachment: scroll;
  }
  
  .c-imgbackground--main {
  background-image: url("../img/background3mobilefiltr.jpg");
}
}

.h-header-top {
	background: transparent; /*przezroczyste tło*/
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	padding: 30px;
	font-size: 1.1em;
	font-weight: 700;
	color: #f3f4f4;
  
}



@media (max-width: 767px) {
  .h-header-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}


.c-logo{
	transform: rotate(-2deg);
	font-size: 1.6em;
	font-weight: 300;
	font-family: 'Bowlby One SC', sans-serif;
	 

}

.c-logo__span {
  font-weight: 400;
  font-size: .85em;
  color: #b51217;
 

 
}


a{
text-decoration: none;
color: #f3f4f4;
}


@media (max-width: 767px) {
  .c-logo {
    margin-right: 1.5em;
  }
}

.c-hamburger {
  padding: 10px;
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 999;
  outline: none;
}

.c-hamburger__box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.c-hamburger__inner {
  display: block;
  top: 50%;
}

.c-hamburger__inner, .c-hamburger__inner::before, .c-hamburger__inner::after {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #f9f9f9;
  left: 0;
  -webkit-transition: top .2s .2s, bottom .2s .2s, background-color .2s .2s, -webkit-transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, background-color .2s .2s, -webkit-transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, background-color .2s .2s, transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, background-color .2s .2s, transform .2s .4s, -webkit-transform .2s .4s;
  /*background: linear-gradient(360deg,transparent,#a8d1d2);
  box-shadow: 0 0 10px #A6461C, 0 0 40px #A6461C, 0 0 80px #A6461C;
  transition-delay: 1s;*/
}

.c-hamburger__inner::before, .c-hamburger__inner::after {
  content: '';
  display: block;
}

.c-hamburger__inner::before {
  top: -10px;
}

.c-hamburger__inner::after {
  top: 10px;
}

.c-hamburger--is-active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.c-hamburger--is-active .c-hamburger__inner {
  background-color: rgba(249, 249, 249, 0);
}

.c-hamburger--is-active .c-hamburger__inner::before {
  bottom: calc(50% - 10px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-hamburger--is-active .c-hamburger__inner::after {
  top: calc(50% - 10px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 835px) {
  .c-hamburger {
    display: inline-block;
  }
}

.c-nav__list {
  margin-right: 30px;
}

@media (max-width: 980px) {
.c-nav__list {
  margin-right: 30px;
}
}



.c-nav__item {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin: 0 22px/*między napisami*/;
}

/*nav na urzadzeniu*/
@media (max-width: 835px) {
  .c-nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(27, 27, 27, 0.8);
	color: #f3f4f4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-clip-path: circle(0 at 10% -10%);
            clip-path: circle(0 at 10% -10%);
    -webkit-transition: -webkit-clip-path 1s ease-out;
    transition: -webkit-clip-path 1s ease-out;
    transition: clip-path 1s ease-out;
    transition: clip-path 1s ease-out, -webkit-clip-path 1s ease-out;
    pointer-events: none;
  }
  .c-nav__list {
	margin-right: 30px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-nav__item {
    margin: 2.3em 0;
  }
}

.c-nav--is-active {
  -webkit-clip-path: circle(1000px at 10% 10%);   /*wejscie hamburger navbar*/
          clip-path: circle(1000px at 10% 10%);
  pointer-events: all;
}






.text{
	padding: 100px 225px;
	width: 100vw;
	text-align: justify;
	margin-right: auto;
    margin-left: auto;
    text-align: justify;
    font-weight: 400;
	font-size: 20px;
}

@media (max-width: 1150px) {
  .text {
    padding: 50px 50px;
	font-size: 19px;
	
  }
  
}

@media (max-width: 767px) {
  .text {
    padding: 20px 25px;
	font-size: 17px;
  }
  
}

.sectiontitle{
	font-size: 40px;
	padding: 15px;
	font-weight: 600;
	color: #A6461C;
	text-align: center;
	font-family: Sofia, sans-serif;
}

@media (max-width: 767px) {
	.sectiontitle{
	font-size: 30px;
	padding: 0px;
	}
}


.text .imgleft{
	float:left; 
	margin-bottom: 20px;
	margin-right: 20px;
	margin-top: 20px;
	padding: 0;
	width: 40%;
}


.text .imgright{
	float: right; 
	margin-bottom: 20px;
	margin-left: 20px;
	margin-top: 20px;
    height: auto;
	padding: 0;
}




@media (min-width: 767px) {
.scrollup
{
	width: 64px;
	height: 64px;
	text-decoration: none;
	background: url("../img/up3.1.png") no-repeat 0px 0px;
	position: fixed;
	right: 50px;
	bottom: 120px;
	display: none;
	z-index: 999;
}
}




.c-footer {

	position: absolute;
	bottom: 0;
	background-color:  transparent;
	width: 100vw;
	font-family: 'Bowlby One SC', sans-serif;
	padding: 10px 30px;
	color: #f3f4f4;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
	-webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
	list-style-type: none;
	
}
.foot{
	
	transform: rotate(-1deg);
	
	font-weight: 300;
	padding: 0;
	font-family: 'Bowlby One SC', sans-serif;
}




@media (max-width: 767px) {
.c-footer {
	 padding: 10px 15px; 
}
}
.c-footer__list1, .c-footer__list2{
  list-style-type: none;
  padding: 10px 20px;
  margin: 0;
}


.c-footer__list1 {
  list-style-type: none;
  text-align: left;
}

.c-footer__list2 {
  list-style-type: none;
  text-align: right;
}

.c-footer__item {
  display: block;
  margin-top: 5px;

}


.c-footer a {
	text-decoration: none;
	color: #f3f4f4; /*bialy*/
}


.websectiontitle {
	margin: 0;
	padding: 50px;
	text-align: center;

	font-size: 1.5em;
	color: #ab8020;
	text-transform: uppercase;
	letter-spacing: 3px;
  grid-area: des;
}



	
.websectiontitle[data-scroll="in"], .english[data-scroll="in"] {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.websectiontitle[data-scroll="out"], .english[data-scroll="out"] {
  opacity: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

[data-scroll] {
  -webkit-transition: all 2s;
  transition: all 2s;
}

	
.halfimg{
	width: 50%;
	
}
@media (max-width: 767px) {

    .websectiontitle{
	  padding: 80px 0;
  }
  
  .text .imgleft{
	width: 100%;
	margin: 0;
	padding: 20px 0;
	}
	
	.halfimg{
		width: 100%;
	}
}

b{
color: #A6461C;
}



.struktura{
text-align: center;
}